<div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="call_text"><a href="#"><img src="../assets/images/map-icon.png"><span class="call_text_left">Locations</span></a></div>
        </div>
        <div class="col-sm-4">
          <div class="call_text"><a href="#"><img src="../assets/images/call-icon.png"><span class="call_text_left">+01 1234567890</span></a></div>
        </div>
        <div class="col-sm-4">
          <div class="call_text"><a href="#"><img src="../assets/images/mail-icon.png"><span class="call_text_left">Demo@gmail.com</span></a></div>
        </div>
      </div>
    </div>
  </div>